<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2023-2024 The Evolution X Project
     SPDX-License-Identifier: Apache-2.0
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:sharedUserId="android.uid.system"
          package="org.lineageos.settings"
          android:versionCode="2"
          android:versionName="2.0" >

    <application
        android:icon="@drawable/ic_launcher_settings"
        android:label="@string/xiaomi_parts_title"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true"
        android:theme="@style/Theme.SubSettingsBase.Expressive"
        android:exported="true">

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:replace="android:authorities"/>

        <receiver
            android:name=".Startup"
            android:exported="false">  
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".TileHandlerActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

        <!-- Auto HBM activity -->
        <activity
            android:name=".autohbm.AutoHbmActivity"
            android:label="@string/auto_hbm_title"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/auto_hbm_summary" />
        </activity>

        <!-- Auto HBM service -->
        <service
            android:name=".autohbm.AutoHbmService"
            android:exported="false" />

        <!-- Auto HBM tile service -->
        <service
            android:name=".autohbm.AutoHbmTileService"
            android:label="@string/auto_hbm_title"
            android:icon="@drawable/ic_auto_hbm_tile"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <!-- Auto DC Dimming activity -->
        <activity
            android:name=".autodcdim.AutoDcDimmingActivity"
            android:label="@string/auto_dc_dim_title"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/auto_dc_dim_summary" />
        </activity>

        <!-- Auto DC Dimming service -->
        <service
            android:name=".autodcdim.AutoDcDimmingService"
            android:exported="false" />

        <!-- Auto DC Dimming tile service -->
        <service
            android:name=".autodcdim.AutoDcDimmingTileService"
            android:label="@string/auto_dc_dim_title"
            android:icon="@drawable/ic_auto_dc_dim_tile"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <!-- Clear Speaker activity -->
        <activity
            android:name=".speaker.ClearSpeakerActivity"
            android:label="@string/clear_speaker_title"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>

            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.sound" />

            <meta-data
                android:name="com.android.settings.priority"
                android:value="-11" />

            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/clear_speaker_summary" />
        </activity>

        <!-- Thermal Active -->        
        <activity
            android:name=".thermal.ThermalActivity"
            android:label="@string/thermal_title"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.battery" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/thermal_summary" />
        </activity>

        <!-- Thermal service -->
        <service
            android:name=".thermal.ThermalService"
            android:exported="false" />

        <!-- Saturation activity -->
        <activity
            android:name=".saturation.SaturationActivity"
            android:label="@string/saturation_title"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/saturation_summary" />
        </activity>

        <!-- Saturation tile service -->
        <service  
            android:name=".saturation.SaturationTileService"
            android:label="@string/saturation_title"
            android:icon="@drawable/ic_saturation_tile"
            android:exported="true"  
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- Refresh Rate active -->
	    <service
            android:name=".refreshrate.RefreshService"
            android:exported="false" />

        <!-- Refresh Rate service -->
        <activity
            android:name=".refreshrate.RefreshActivity"
            android:label="@string/refresh_rate_title"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/refresh_rate_summary" />
        </activity>

        <!-- Refresh Rate title service -->
        <service
            android:name=".refreshrate.RefreshTileService"
            android:icon="@drawable/ic_refresh_rate_tile"
            android:label="@string/refresh_rate_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>
</manifest>
